{% extends 'base.html.twig' %}

{% block title %}New track!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Add your new track! ✅</h1>
    <p><a href="{{ path('track') }}">List tracks</a></p>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.map) }}
    {{ form_widget(form.save) }}

    {{ form_end(form) }}
</div>
{% endblock %}
